body {
	background-color: #E3FFFF;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
	background-color: pink;
	height: 100%;
	width: 100%;
}

.tweet-box {
	width: 100%;
	height: 56px;
}

.header {
	text-align: leght;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background-color: #ECECFF;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.form {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.comments {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 230px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.box {
    padding: 0.2em 0.5em;
    margin: 2em 2em;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}

.box p {
    margin: 0;
    padding: 0;
}